<div class="container mt-3 px-2">
  <h2>Modelos</h2>
  <hr>
  <div class="position-relative">
    <span class="position-absolute search">
      <i class="fa fa-search"></i>
    </span>
    <div class="d-flex align-items-center">
      <input class="form-control" placeholder="Procurar.." style="flex: 1;" (input)="searchModelos($event)">
      <button type="button" style="margin-left: 1rem;" class="btn btn-success" (click)="createDialog()">Novo</button>
    </div>
  </div>
  <div class="table-wrapper mt-2">
    <table class="table table-responsive table-borderless" >
      <thead>
        <tr>
          <th class="bg-colunas" scope="col" width="5%">#</th>
          <th class="bg-colunas" scope="col" width="20%">Nome</th>
          <th class="bg-colunas" scope="col" width="10%">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="modelosList.length > 0; else noData">
          <tr *ngFor="let item of modelosList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: modelosList.length }">
            <td class="bg-colunas">{{item.modelo_id}}</td>
            <td class="bg-colunas">{{item.nome}}</td>
            <td class="bg-colunas">
              <button type="button" style="margin-right: 2px" mat-raised-button (click)="openDialog(item.modelo_id)" class="btn btn-info">Editar</button>
              <button type="button" style="margin-right: 2px" mat-raised-button (click)="deleteDialog(item.modelo_id)" class="btn btn-danger">Deletar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table> 
    <ng-template #noData>
      <div class="text-center">Não há dados disponíveis.</div>
    </ng-template>
    
    <!-- Paginação -->
    <pagination-controls 
      previousLabel="Anterior"
      nextLabel="Próximo"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
    
  </div>   
</div>
