<div class="container d-flex justify-content-center">
  <div class="card mx-5 my-5">
    <div class="card-body py-2 px-2">
      <div class="logo-container text-center mt-4">
          <img src="assets/img/logo.png" alt="Logo" style="max-width: 30%; height: auto;">
      </div>
      <h2 class="card-heading py-3 px-5 text-center">LOGIN</h2>
      <div class="row rone mx-3 my-3">
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" id="inputUser" placeholder="Usuário">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
          <div class="form-group">
              <button type="submit" class="mb-4 mt-4" (click)="login()">Entrar</button>
          </div>
      </div>
    </div>
  </div>
</div>
