<div class="wrapper">
    <div class="d-md-flex align-items-md-center">
        <div class="h3">Carros Usados</div>
        <div class="ml-auto d-flex align-items-center views"><span class="green-label px-md-2 px-1">{{ veiculosListLenght }}</span> <span class="text-muted">Carros</span> </div>
    </div>
    <div class="d-sm-flex align-items-sm-center pt-2 clear" *ngIf="filterOn">
      <div class="text-muted filter-label">Filtros Aplicados:</div>
      <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2" *ngFor="let model of selectedModels">
        {{ model }} <span class=" px-1 close" (click)="removeModelFilter(model)">&times;</span>
      </div>
      <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0" *ngFor="let brand of selectedBrands">
        {{ brand }} <span class=" px-1 close" (click)="removeBrandFilter(brand)">&times;</span>
      </div>
      <button class="filtro" style="margin-left: 5px" (click)="resetFilter()">Limpar Filtros</button>
    </div>


    <div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
    <div id="mobile-filter">
        <div class="py-3">
            <h4 class="font-weight-bold">Modelos</h4>
            <ul class="list-group custom-list" *ngFor="let modelo of modelosList">
                <li class="d-flex justify-content-between align-items-center category" (click)="filterByModel(modelo.nome)" > {{modelo.nome}}</li>
            </ul>
        </div>
        <div class="py-3">
            <h4 class="font-weight-bold">Marcas</h4>
            <form class="brand" *ngFor="let marca of marcasList">
                <div class="form-inline d-flex align-items-center py-1"> 
                    <label class="tick">{{marca.nome}} 
                        <input type="checkbox" (change)="filterByBrand($event, marca.nome)"> 
                        <span class="check"></span> 
                    </label> 
                </div>
            </form>
        </div>
    </div>
    <div class="content py-md-0 py-3">
        <section id="sidebar">
            <div class="py-3">
                <h4 class="font-weight-bold">Modelos</h4>
                <ul class="list-group custom-list" *ngFor="let modelo of modelosList">
                    <li class="d-flex justify-content-between align-items-center category" (click)="filterByModel(modelo.nome)"> {{modelo.nome}}</li>
                </ul>
            </div>
            <div class="py-3">
                <h4 class="font-weight-bold">Marcas</h4>
	            <form class="brand" *ngFor="let marca of marcasList">
	                <div class="form-inline d-flex align-items-center py-1"> 
                        <label class="tick">{{marca.nome}} 
                            <input type="checkbox" (change)="filterByBrand($event, marca.nome)"> 
                            <span class="check"></span> 
                        </label> 
                    </div>
	            </form>
            </div>
        </section> <!-- Products Section -->
        <section id="products">
            <div class="container py-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-4 pr-md-2" style="padding-right: 10px" *ngFor="let veiculo of veiculosList">
					    <div class="card">
                            <img class="card-img-top" [src]="veiculo.foto ? PhotoUrl + veiculo.foto : 'https://w7.pngwing.com/pngs/285/84/png-transparent-computer-icons-error-super-8-film-angle-triangle-computer-icons.png'">
					        <div class="card-body"> 
                                <h1 [ngClass]="{'small-font': veiculo.nome?.length > 17 }" class="font-weight-bold pt-1">{{veiculo.nome}}</h1>
					            <div class="text-muted description">{{ veiculo.marca }} - {{ veiculo.modelo }}</div>
					            <div class="d-flex align-items-center justify-content-between pt-3">
					                <div class="d-flex flex-column">
					                    <div class="h6 font-weight-bold"><b>R$ {{veiculo.valor}}</b></div>
					                </div>
					                <button class="button">Comprar</button>
					            </div>
					        </div>
					    </div>
					</div>

                </div>
            </div>
        </section>
    </div>
</div>